name: Build check
on:
  push:
  schedule:
    - cron: "25 */3 * * *"
jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-15
          - macos-26
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - uses: Homebrew/actions/setup-homebrew@master
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Generate doc and push it to the repo
        run: bin/github-generate-doc.sh
        if: matrix.os == 'macos-26'
      # Show timestamp for each line
      # https://unix.stackexchange.com/questions/26728/prepending-a-timestamp-to-each-line-of-output-from-a-command
      - name: Generate fonts
        run: bin/github-build.sh
      - name: Confirm whether all fonts are generated
        run: bin/github-check.sh
